<h1>アルバム内の写真</h1>
<div id="post_photo_form" class="post_poto_form">
	<div id="post_photo_form_div" class="post_photo_form_div">
    <%= form_for(@album) do |f| %>
      <%= f.label :title %>:<%= @album.title %><br/>
      <%= f.label :description %>:<%= @album.description %><br/>
    <% end %>
  </div>
</div>

<%= render 'album_detail' %>

