<div id="invite_form" class="photo_form">
	<div id="invite_form_div" class="photo_form_div">
		<%= form_for @group_member, url: {action: 'invite'} do |f| %>
			<%= f.label :e_mail %>:<%= f.text_field :e_mail %><br/>
			<%= hidden_field_tag :group_id, @group.id %>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
