<div id="photo_form" class="photo_form">
	<div id="photo_form_div" class="photo_form_div">
    <%= form_for(@photo, :html => { :multipart => true }) do |f| %>
    <div class="field"> 
      画像:<%= f.file_field :photo %><br><br>
    </div>
    <%= f.label :title %>:<%= f.text_field :title %><br/>
    <%= f.label :description %>:<%= f.text_area :description %>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
