.photo_detail{:id => "photo_viewer_#{@photo.id}"}
  %span{:id => "close_photo_#{@photo.id}"}
    閉じる
    \#{image_tag @photo.photo.url(:original)}
#photo_form.photo_form
  #photo_form_div.photo_form_div
    %span{:id => "photo_#{@photo.id}"}
      拡大
      %img{:src => @photo.photo.url(:thumb)}/
      = @photo.created_at.strftime("%Y/%m/%d")
    :javascript
      $( '#photo_#{@photo.id}' ).click(function (){
        $( '#photo_viewer_#{@photo.id}' ).fadeIn("slow"); 
      });
    :javascript
      $( '#photo_viewer_#{@photo.id}' ).click(function (){
        $( '#photo_viewer_#{@photo.id}' ).fadeOut("slow"); 
      });
    %br/
    %br/
    title:#{@photo.title}
    %br/
    = @photo.description
%br/
- if @album
  = link_to @album.title + 'へ',  action: :show, controller: :albums,  id: @album.id
