!!!
%html{"ng-app" => "LifePhotos"}
  %head
    %title LifePhotos
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application",  media: "all"
    \%>
    \#{csrf_meta_tags}
  %body
    %header.header
      Life Photos
    %br/
    - if current_user
      .login_user_info
        = image_tag "#{current_user.image_path}", size: "40x40"
        = current_user.screen_name
        さん
        \#{link_to "logout", logout_path}
      \#{render 'common/menu'}
      \#{render 'common/album_menu'}
    - else
      %br/
      = link_to "Facebook login", "/facebook/login", "data-no-turbolink" => true
      \&nbsp;&nbsp;|&nbsp;&nbsp;
      \#{link_to "Twitter login", "/twitter/login",  "data-no-turbolink" => true}
    = yield
