<!DOCTYPE html>
<html ng-app="LifePhotos">
<head>
<title>LifePhotos</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">	
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application",  media: "all" %> %>
<%= csrf_meta_tags %>
</head>
<body>
  <header>
  Life Photos
  </header>
  <br/>
  <div class="login_user_info">
    <% if current_user %>
      <%= image_tag "#{current_user.image_path}", size: "40x40" %><%= current_user.screen_name %>さん
      <%= link_to "logout", logout_path %>
      <%= render 'common/menu' %>
      <%= render 'common/album_menu' %>
    <% else %>
      <br>
      <%= link_to "Facebook login", "/facebook/login", "data-no-turbolink" => true %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Twitter login", "/twitter/login",  "data-no-turbolink" => true %>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
