<!DOCTYPE html>
<html ng-app="LifePhotos">
<head>
  <title>LifePhotos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
  Life Photos
  </header>
	<br/>
  <div class="login_user_info">
<% if current_user %>
    <%= image_tag "/icon/#{current_user.id}", size: "40x40" %><%= current_user.screen_name %>さん
    <%= link_to "logout", logout_path %>
	<%= render 'common/menu' %>
<% else %>
	<br>
    <%= link_to "login", "/login", "data-no-turbolink" => true %>
<% end %>
	</div>
<%= yield %>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
	<%= javascript_include_tag "application" %>
</body>
</html>
