<!DOCTYPE html>
<html >
  <head>
    <title>LifePhotos</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <%= stylesheet_link_tag    "guest_user", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "idangerous.swiper", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "guest_user" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    Life Photos
    </header>
    <br/>
    <br/>
    <%= yield %>
    <script src="http://lifephoto.herokuapp.com/assets/bucky.min.js" data-bucky-host="http://buckyserver.herokuapp.com/bucky" data-bucky-page data-bucky-requests></script>
  </body>
</html>
